extends ./layout

block content
	main.fail
		h2= fail.title || ''

		.video
			div
				iframe(
					src='https://youtube.com/embed/' + fail.id + '?iv_load_policy=3'
					frameborder="0"
					allowfullscreen
				)

		p= fail.description || ''
		
		progress(
			value=fail.upvotesPercentage
			max=1
		)
		
		div.comments
			div#disqus_thread

block scripts
	script.
		(function() {
		var d = document, s = d.createElement('script');
		s.src = '//failarchive.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	script#dsq-count-scr(src='//failarchive.disqus.com/count.js', async='')
	script.
		var $select = $('select.tag')
		$select.chosen()
