extends ./layout

block content
	main
		if !fails || !fails.length
			p.info No fails available for this query

		else
			for fail, index in fails
				section.fail
					h2: a(href='/fail/' + fail.id)= fail.title || ''

					.video(
						id='video-' + fail.id
						data-id=fail.id
					)
						div
							if index < 3 || isMobile
								iframe(
									id='iframe-' + fail.id
									data-id=fail.id
									src='https://www.youtube.com/embed/' + fail.id +
										'?enablejsapi=1&iv_load_policy=3'
									frameborder="0"
									allowfullscreen
								)

							if !isMobile
								img(
									id='image-' + fail.id
									data-id=fail.id
									class='thumbnail'
									src='https://i.ytimg.com/vi/#{fail.id}/hqdefault.jpg'
									alt=fail.title
								)
			a(onclick="window.scrollTo(0,0);window.location.reload()") 
				span.loadMore Load more!

block scripts
	script(src='//www.youtube.com/iframe_api')
	script(src='/scripts/main.js')
