extends ./layout

block content
	nav
		form
			select(
				name='tag'
				class='tag'
				data-placeholder='Choose tags'
				multiple=true
			)
				for tag in availableTags
					option(
						value = tag
						selected = (currentTags.indexOf(tag) !== -1)
					)= tag
			input(type='submit')

	main
		for fail, index in fails
			section.fail
				h2: a(href='/fail/' + fail.id)= fail.title || ''

				.video(
					id='video-' + fail.id
					data-id=fail.id
				)
					div
						if index < 3
							iframe(
								id='iframe-' + fail.id
								data-id=fail.id
								src='https://www.youtube.com/embed/' + fail.id +
									'?enablejsapi=1&iv_load_policy=3'
								frameborder="0"
								allowfullscreen
							)

						img(
							id='image-' + fail.id
							data-id=fail.id
							class='thumbnail'
							src='https://i.ytimg.com/vi/#{fail.id}/hqdefault.jpg'
							alt=fail.title
						)

				p= fail.description || ''

				| Upvotes: #{fail.upvotes || 0}
				| Downvotes: #{fail.downvotes || 0}

block scripts
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js')
	script(
		src='//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js'
	)
	script(src='//www.youtube.com/iframe_api')
	script(src='/scripts/main.js')
