extends ./layout

block content
	header
		h1 Fail
			span Archive
		button() Submit a Fail
	main
		for fail in fails
			section.fail
				h2= fail.title || ''
				
				- var defaultVideo = 'https://www.youtube.com/embed/BROWqjuTM0g'
				
				iframe(
				src=fail.video ? fail.video.url || defaultVideo : defaultVideo
				frameborder="0"
				allowfullscreen
				)
				
				p= fail.description || ''
					
				| Upvotes: #{fail.upvotes || 0}
				| Downvotes: #{fail.downvotes || 0}
