extends ./layout

block content
	nav
		form
			select(
				name='categories'
				class='categories'
				multiple
				data-placeholder='Choose categories'
			)
				option(value='drunk') Drunk
				option(value='woman') Woman
	main
		for fail in fails.slice(0,2)
			section.fail
				h2: a(href='/fail/' + fail.id)= fail.title || ''

				.video(id='video-'fail.id)
					div
						img(
							id='image-' + fail.id
							data-video-id=fail.id
							class='thumbnail'
							src='https://i.ytimg.com/vi/#{fail.id}/hqdefault.jpg'
							alt=fail.title
						)
						
						iframe(
							id=fail.id
							src='https://youtube.com/embed/' + fail.id + '?enablejsapi=1'
							frameborder="0"
							allowfullscreen
						)

				p= fail.description || ''

				| Upvotes: #{fail.upvotes || 0}
				| Downvotes: #{fail.downvotes || 0}

block scripts
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js')
	script(src='//www.youtube.com/iframe_api')
	script(src='/scripts/main.js')