extends ./layout

block content
	main
		for fail in fails
			section.fail
				h2: a(href='/fail/' + fail.id)= fail.title || ''

				.video
					div
						iframe(
							src='https://www.youtube.com/embed/' + fail.id
							frameborder="0"
							allowfullscreen
						)

				p= fail.description || ''

				| Upvotes: #{fail.upvotes || 0}
				| Downvotes: #{fail.downvotes || 0}

block scripts
	script(src='//www.youtube.com/player_api')
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
	script(src='/scripts/main.js')